:root {
  --green: hsl(110, 85%, 36%);
  --darkGreen: hsl(121, 64%, 18%);
  --darkLavender: hsl(234, 12%, 50%);
  --lavender: hsl(257, 100%, 93%);
  --darkPurple: hsl(254, 37%, 12%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--darkPurple);
  color: var(--lavender);
}

a {
  color: var(--green);
}
a:hover {
  color: var(--lavender);
}

h1 {
  margin-top: 0;
}

.header__link {
  text-decoration: none;
  color: var(--darkGreen);
}

.header__link:hover {
  color: var(--green);
}

header {
  background-color: var(--lavender);
}

footer {
  background-color: var(--lavender);
  color: var(--darkGreen);
}

p {
  margin: 0;
}
